[ng\: cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x- ng-cloak {
   display: none !important;
 }
 
.loginBox {
    margin: 20rem;
  }

  input[placeholder], [placeholder], *[placeholder] {
     color: black;
  }

.completed {
  text-decoration: line-through;
  font-weight: 900;
}
.not_completed {
  font-weight: 400;
}

.fun {
  color: tomato;
}

.landingPage {

}

.active {
  border: 3px solid black;
}

.not_active {
  font-weight: 400;
}
.navItem {
  color: black;
}
