[ng\: cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x- ng-cloak {
   display: none !important;
 }

.loginBox {
    margin: 20rem;
  }

  input[placeholder], [placeholder], *[placeholder] {
     color: black;
  }

.finished {
  font-weight: 900;
  background-color: #009688;
}

.navItem {
  color: black;
}

.toolBtn {
  margin-top: 1rem;
}

.groceryBtn {
  margin-left: 1rem;
}
.spoiled {
  background-color: tomato;
}

.nonLocalMessage {
  background-color: lightgrey;
  border-radius: 10px;
}

.localMessage {
  background-color: #009688;
  color: white;
  border-radius: 10px;
}
