md-toast {
z-index: 10000;
}
.md-fixed-top {
position: fixed;
top: 66px; // size of my navbar + 16px
}

.md-fixed-right {
position: fixed;
right: 16px;
}

.loginBox {
    margin: 20rem;
  }

.finished {
  font-weight: 900;
  background-color: #009688;
}

.navItem {
  color: black;
}

.toolBtn {
  margin-top: 1rem;
}

.groceryBtn {
  margin-left: 1rem;
}
.spoiled {
  background-color: tomato;
}

.nonLocalMessage {
  background-color: lightgrey;
  border-radius: 10px;
}

.localMessage {
  background-color: #009688;
  color: white;
  border-radius: 10px;
}

.createdIcon {
  width: 8rem !important;
}
