<div ng-init="getBudgetList()" class="container">
    <div class="row">

        <div class='center-align col s12'>
            <h4>Budget List</h4>
            <button class="btn" ng-click="addingBudgetItem = true; addingExpense = false">Add Budget Item</button>
            <button class="btn" ng-click="addingExpense = true; addingBudgetItem = false">Add an Expense</button>
            <div ng-show="addingBudgetItem">
                <input type="text" ng-model="newBudgetItem.categoryName" placeholder="Spending Category"/>
                <input type="number" min="0" ng-model="newBudgetItem.amount" placeholder="Amount"/>
                <button ng-disabled="!newBudgetItem.categoryName || !newBudgetItem.amount" class="btn" ng-click="addBudgetItem()">Submit</button>
            </div>
            <div ng-show="addingExpense">
                <input type="text" ng-model="newExpenseItem.paidTo" placeholder="To Who?"/>
                <input type="number" ng-model="newExpenseItem.amount" placeholder="Amount Paid"/>
                <input type="text" ng-model="newExpenseItem.paidDate" placeholder="Date"/>
                <input type="text" ng-model="newExpenseItem.notes" placeholder="Notes"/>
                <div ng-repeat="category in budgetItems">
                    <input ng-model="newExpenseItem.categoryId" value="{{category.id}}" name="group1" type="radio" id="{{category.id}}"/>
                    <label for="{{category.id}}">{{category.categoryName}}</label>
                </div>
                <button ng-disabled="!newExpenseItem.paidTo || !newExpenseItem.amount || !newExpenseItem.paidDate || !newExpenseItem.categoryId  " class="btn" ng-click="addExpenseItem()">Submit</button>
            </div>
        </div>

        <div class="col s6">
            <h4 class="center-align">Current Budget</h4>
            <table ng-show="!isEdit">
                <thead>
                    <tr>
                        <th data-field="id">Category Name</th>
                        <th data-field="name">Budgeted Amount</th>
                        <th data-field="price">Current Amount Spent</th>
                        <th data-field="price">Left Over Amount</th>
                        <th data-field="price">Tools</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="category in budgetItems">
                        <td>{{category.categoryName}}</td>
                        <td>${{category.amount}}</td>
                        <td>$
                            {{category.currentAmountSpent}}</td>
                        <td>$
                            {{category.amount - category.currentAmountSpent}}</td>
                        <td>
                            <button class='btn' ng-click="editMode(category.id);"><i class="material-icons">mode_edit</i></button>
                            <button class="btn" ng-click="deleteBudgetItem(category.id)"><i class="material-icons">delete</i></button>
                        </td>
                </tbody>
            </table>

            <div ng-show="isEdit" >
              <h5>Edit</h5>
              <input ng-model="selectedBudgetItem.categoryName" placeholder="{{selectedBudgetItem.categoryName}}" />
             <input ng-model="selectedBudgetItem.amount" placeholder="{{selectedBudgetItem.amount}}" />
             <button class="btn" ng-click="editBudgetItem(selectedBudgetItem.id)">Submit</button>
            </div>

        </div>
        <div class="col s6" ng-init="getExpenseList()">
            <h4 class="center-align">This Month's Expenses</h4>
            <table ng-show="!isEditExpense">
              <thead>
                <tr>
                    <th data-field="id">Expense</th>
                    <th data-field="name">Category</th>
                    <th data-field="price">Amount Spent</th>
                    <th data-field="price">Date</th>
                    <th data-field="price">Notes</th>
                    <th data-field="price">Tools</th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="expense in expenseItems">
                      <td>{{expense.paidTo}}</td>
                      <td>{{expense.categoryName}}</td>
                      <td>${{expense.amount}}</td>
                      <td>{{expense.paidDate}}</td>
                      <td>{{expense.notes}}</td>
                      <td>
                          <button class='btn' ng-click="editExpenseMode(expense.id)"><i class="material-icons">mode_edit</i></button>
                          <button class="btn" ng-click="deleteExpenseItem(category.id)"><i class="material-icons">delete</i></button>
                      </td>
                      <div ng-show="isEditExpense">
                        <h5>Edit</h5>
                        <input ng-model="selectedExpenseItem.paidTo" placeholder="{{selectedExpenseItem.paidTo}}" />
                       <input ng-model="selectedExpenseItem.amount" placeholder="{{selectedExpenseItem.amount}}" />
                       <input ng-model="selectedExpenseItem.notes" placeholder="{{selectedExpenseItem.notes}}" />
                       <button class="btn" ng-click="editExpenseItem(selectedExpenseItem.id)">Submit</button>
                      </div>
              </tbody>
            </table>
        </div>
    </div>
</div>
