<div ng-init="getBudgetList()">
  <h4>Budget List</h4>
  <button ng-click="addingBudgetItem = true">Add Budget Item</button>
  <button ng-click="addingExpense = true">Add an Expense</button>
  <div ng-show="addingBudgetItem">
    <input ng-model="newBudgetItem.categoryName" placeholder="Spending Category" />
    <input ng-model="newBudgetItem.amount" placeholder="Amount" />
    <button ng-click="addBudgetItem()">Submit</button>
  </div>
  <div ng-show="addingExpense">
    <input ng-model="newExpenseItem.name" placeholder="Paid to whome?" />
    <input ng-model="newExpenseItem.amount" placeholder="Amount Paid" />
    <input ng-model="newExpenseItem.paidDate" placeholder="Date" />
    <input type="radio" ng-model="newExpenseItem.category" placeholder="Category" />
    <button>Submit</button>
  </div>
  <div>
    <h4>Current Budget</h4>
    <div ng-repeat="category in budgetItems">
      <div ng-if="isEdit">
        <input ng-model="selectedBudgetItem.categoryName" placeholder="{{category.categoryName}}" />
        <input ng-model="selectedBudgetItem.amount" placeholder="{{category.amount}}" />
        <button ng-click="editBudgetItem(category.id)">Submit</button>
      </div>
      {{category.categoryName}}
      $ {{category.amount}}
      <button ng-click="isEdit=true">edit</button>
      <button ng-click="deleteBudgetItem(category.id)">Delete</button>
    </div>
  </div>
  <div>
    <h4>This Month's Expenses</h4>
  </div>
</div>
