<div ng-init="getChoresList()">
  <div class="container">
    <div class="row">
      <div class="col s4">
        <input ng-model="newChoreItem.task" placeholder="task" />
        <input ng-model="newChoreItem.dueDate" placeholder="due date" />
        <input ng-model="newChoreItem.assignedTo" placeholder="assigned To" />
        <button class="btn" ng-click="addChoreItem()">Submit</button>
        <h3>Add a New Task</h3>
      </div>
      <div class="col s8">
        <h4>Chores List</h4>

        <table>
        <thead>
          <tr>
              <th data-field="id">Assigned to</th>
              <th data-field="name">Task</th>
              <th data-field="price">Due Date</th>
              <th data-field="price">Completed?</th>
              <th data-field="price">Delete?</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="item in chores">
            <td>{{item.assignedTo}}</td>
            <td>{{item.task}}</td>
            <td>{{item.dueDate}}</td>
            <td><button ng-click="completedTask(item.id)">Finished?</button></td>
            <td><button ng-click="deleteItem(item.id)">X</button></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
