<div ng-init="getChoresList()">
  <div class="container" ng-init="getRoommateList()">
    <div class="row">
      <div class="col s4">
        <input ng-model="newChoreItem.task" placeholder="task" />
        <input ng-model="newChoreItem.dueDate" placeholder="due date" />
        <!-- <input ng-model="newChoreItem.assignedTo" placeholder="assigned To" /> -->
        <div ng-repeat="roommate in roommateList">
            <input ng-model="newChoreItem.assignedTo" value="{{roommate}}" name="group1" type="radio" id="{{roommate}}"/>
            <label for="{{roommate}}">{{roommate}}</label>
        </div>
        <button ng-disabled="!newChoreItem.task || !newChoreItem.dueDate || !newChoreItem.assignedTo" class="btn" ng-click="addChoreItem()">Submit</button>
        <h3>Add a New Task</h3>
      </div>
      <div class="col s8">
        <h4>Chores List</h4>

        <table>
        <thead>
          <tr>
              <th data-field="id">Assigned to</th>
              <th data-field="name">Task</th>
              <th data-field="price">Due Date</th>
              <th data-field="price">Completed?</th>
              <th data-field="price">Delete?</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="item in chores" ng-class="item.completed === true ? 'finished' : 'not_finished'">
            <td>{{item.assignedTo}}</td>
            <td>{{item.task}}</td>
            <td>{{item.dueDate}}</td>
            <td>
                <span ng-if="!item.completed">
              <button class='btn' ng-click="completedTask(item.id)">Finished?</button></span>
              <span ng-if="item.completed">
                <i class="material-icons">check_circle</i>
              </span>
            </td>
            <td><button class="btn" ng-click="deleteItem(item.id)">X</button></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
