<!-- <footer class="page-footer #fafafa grey lighten-5">
    <div class="footer-copyright">
        <div class="container black-text">
            Roomies © 2016
            <a class="black-text text-lighten-4 right" href="https://twitter.com/garrett_vangild">Twitter</a>
            <a class="black-text text-lighten-4 right" href="https://github.com/garrett-vangilder/roomies">Source Code</a>
            <div>
              Check out upcoming features on Trello!
              <img class="createdIcon" src="images/svg/trello-logo-blue.svg"></img>
              <img class="createdIcon" src="images/svg/Twitter_Logo_White_On_Image.svg"></img>
            </div>
        </div>
    </div>
</footer> -->
