  <span us-spinner spinner-key="spinner-1" spinner-start-active="true"></span>
  <div class="container" ng-init="startSpin()" ng-show="isLoaded">

    <h2 ng-init="getUserInfo()">Welcome Home
        {{userInfo.firstName}}</h2>
        <!-- <span us-spinner spinner-key="spinner-1"></span> -->
        <!-- <span us-spinner></span> -->

    <div class="row">
        <div class="col s6">
            <span><h4 style="display: inline-block;">Profile</h4>
                <button class="btn small" ng-click="isEdit='true'">edit</button></span>
            <div ng-show="!isEdit">
                <h5>{{userHomeInfo.streetAddress}}
                    {{userHomeInfo.city}},
                    {{userHomeInfo.state}}
                    {{userHomeInfo.zipCode}}</h5>
                <h5>House Members
                    {{roommateNameList.length}}</h5>
                <span ng-repeat="name in roommateNameList">
                    {{name}}
                </span>
            </div>
            <div ng-show="isEdit">
                <input ng-model="userHomeInfo.streetAddress" placeholder="{{userHomeInfo.streetAddress}}"/>
                <input ng-model="userHomeInfo.city" placeholder="{{userHomeInfo.city}}"/>
                <input ng-model="userHomeInfo.state" placeholder="{{userHomeInfo.state}}"/>
                <input ng-model="userHomeInfo.zipCode" placeholder="{{userHomeInfo.zipCode}}"/>
                <button class="btn" ng-click="updateHome()">Save</button>
                <button class="btn" ng-click="leaveHome()">Leave Home</button>
            </div>

        </div>
        <div class="col s6">
            <h4 class="center-align">Home Tools</h4>
            <div class="row">
                <div ng-repeat="button in homeTools" class="col s6">
                    <a class="" ng-href='{{button.url}}'>
                        <button class="btn col s12 toolBtn">{{button.name}}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
