<div ng-init="getUserMessages()" >
  <h4>Message's for User's Name </h4>
  <button ng-click="name()"> Who am i?</button>
  <div class="tableChat">
    <div ng-repeat="message in messages| ">
      <h4>{{message.authorName}}</h4>
      <div>
        {{message.contents}}
        <p>
          {{message.postDate}}
        </p>
      </div>

    </div>
    <div class="areaForInput">
      <input ng-model='newMessage.contents' placeholder="what would you like to say?" /><button ng-click="postNewMessage()">Submit</button>

    </div>
  </div>
</div>
