<div ng-init="getUserMessages()" >
  <h4>Message's for User's Name </h4>
  <div class="tableChat">
    <div ng-repeat="message in messages|orderBy: 'postDate' ">
      <div ng-class="{'active' : ( userIdx  == message.uid)}">

      <h4>{{message.authorName}}</h4>
      <div>
        {{message.contents}}
        <p>
          {{message.postDate | date : "MMM d, y h:mm:ss a"}}
        </p>
      </div>
    </div>

    </div>
    <div class="areaForInput">
      <input ng-model='newMessage.contents' placeholder="what would you like to say?" /><button ng-click="postNewMessage()">Submit</button>

    </div>
  </div>
</div>
