<div class="navbar-fixed" ng-controller="NavBarCtrl">
    <nav class="#fafafa grey lighten-5">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo black-text ">Roomies</a>
            <ul class="right hide-on-med-and-down black-text ">
                <span ng-repeat="item in navItems"><li class="navItem">
                    <a class="navItem" ng-show="{{item.showState}}" ng-href="{{item.url}}">{{item.name}}</a>
                </li>
                </span>
                <li ng-show="$parent.isLoggedIn">
                  <a class="navItem" ng-href="#/home-tools/{{homeId}}">Home Tools</a>
                </li>
                <li ng-show="$parent.isLoggedIn" ng-click="logout()">
                    <a class="navItem" ng-href="#">Logout</a>

                </li>

            </ul>
        </div>
    </nav>
</div>
