<div class="row">
    <div class="col s8 center-align offset-s2">
        <h4 class="center-align"></h4>
        <div class="col s4 offset-s2">
            <i class="medium material-icons">flight_takeoff</i>
            <h5>Take off with Roomies</h5>
            <p>
                Before you can start communicating with friends and family members you must first register with our application.
            </p>
        </div>
        <div class="col s4">
            <i class="medium material-icons">warning</i>
            <h5>Easy Partner</h5>
            <p>
                Make sure your information is correct before continuing to ensure the best experience possible.
            </p>
        </div>
        <input type="text" ng-model="account.email" placeholder="Prefered Email Address " ng-required="true"/>
        <input type="password" ng-model="account.password" placeholder="Password" ng-required="true"/>
        <input type="text" placeholder="First Name" ng-model="newUserObj.firstName" ng-required="true"/>
        <input type="text" placeholder="Last Name" ng-model="newUserObj.lastName" ng-required="true"/>
        <button ng-disabled="!account.email || !account.password" class="btn center-align" ng-model="newRegister" ng-click="registerUser()">Register</button>
        <div class="center-align">
            <div>
                <i class="small material-icons">info_outline</i>
                By signing up, you agree to the Terms of Service and Privacy Policy. Others will be able to find you by email.
            </div>
        </div>
    </div>
</div>
