<div class="row">

    <div class="col s6 ">
      <div class="center-align">
        <i class="large material-icons">add</i>
        <h4>  REGISTER NEW HOME</h4>
      </div>
            <input type="text" ng-model="homeItem.houseName" placeholder="House Name"/>
            <input type="text" ng-model="homeItem.streetAddress"placeholder="Street Address"/>
            <input type="text" ng-model="homeItem.city" placeholder="City"/>
            <input type="text" ng-model="homeItem.state" placeholder="State"/>
            <input type="text" ng-model="homeItem.zipCode" placeholder="Zip Code"/>
            <input type="text" ng-model="homeItem.password"placeholder="Pass Code"/>
            <div class="center-align">
              <button class="btn waves-effect waves-light" ng-click="registerNewHome()">Register Home  <i class="material-icons right">send</i></button>
            </div>
    </div>

    <div class='col s6' ng-controller="SearchCtrl">
      <div class="center-align">
        <i class="large material-icons">search</i>
        <h4>Search for Existing Home</h4>
      </div>
      <div class="center-align">
        <input type="text" ng-model="homeSearch.zipCode" placeholder="zip code"/>
        <button class="btn" ng-click="searchByZip(homeSearch.zipCode)">Search </button>
      </div>
        <div class="col s12">
    <h2 class="header center-align"></h2>
    <div class="card horizontal" ng-repeat="house in homeList">

      <div class="card-stacked">
        <div class="card-content">
          <h5 class="center-align">{{house.houseName}}</h5>
          <div>
            <p>{{house.streetAddress}}</p>
            <p>{{house.city}}, {{house.state}}</p>
          </div>
        </div>
        <div class="card-action center-align ">
          <input class="col s6" type="password" placeholder="Pass Code to Join the Home" />
          <button class="btn col s5 offset-s1" ng-click="confirmHomeSearch(house.homeid, searchPassword.password)">Confirm House</button>

        </div>
      </div>
    </div>
  </div>
    </div>
</div>
